.root {
    position: relative;
    width: 100vw;
    height: 100vh;
    left: 0px;
    // top: -6px;

    background: url("/images/banner.png");
    background-size: cover;

    .containerBlue{
        position: absolute;
        width: 100vw;
        height: 100vh;
        left: 0px;
        top: 0px;

        background: rgba(0, 14, 68, 0.75);

        color: rgba(255, 255, 255, 0.74);

        
        .containerAnimetedText{
            width: 55vw;
            height: 100vh;

            h3 {
                width: 70%;
                text-align: center;
                font-size: 2em;
                font-weight: 500;
            }

            display: flex;
            justify-content: center;
            align-items: center;

        }

    }

    .containerBlueRotate{

        position: absolute;
        width: 55vw;
        height: 100vh;
        left: 55vw;
        // top: -100px;

        background: rgba(61, 173, 255, 0.79);
        // transform: rotate(20deg);
    }

    .containerWhiteRotate{
        position: absolute;
        width: 55.5vw;
        height: 100vh;
        left: 55.5vw;
        // top: 50.45px;

        background: #FFFFFF;
        // transform: rotate(20deg);

        form {
            width: 80%;
            height: 100%;
            
            display: flex;
            flex-direction: column;
            
            justify-content: center;
            align-items: center;

            h3 {
                color: var(--primary);
                font-size: 1.5em;
            }

            .errorForm{
                margin-top: -10px;
                // background-color: blue;
                width: 60%;
                padding: 0 10px;
                span {
                    font-size: 0.8em;
                    color: #d50000;
                }
                @media (max-width: 1400px) {
                    width: 70%;
                }
            }
            
            

            input, button {
                margin: 10px 0;
            }

            input {
                width: 60%;
                height: 50px;
                
            }
            
            hr {
                width: 50%;
                margin: 20px 0;
                border-color: #c4c4c43f;
                height: 0.2px;
            }

            button[type="submit"]{
                // margin: 50px 0;
                background-color: #42B72A;
                border: none;
            }

            button {
                width: 60%;
                height: 50px;
            }


            @media (max-width: 1400px) {
                input, button, hr{
                    width: 70%;
                }
            }
        }

    }

}