.root {

    .titleLibrary {
        // background-color: blue;
        padding: 20px 8%;
        padding-top: 40px;

        h3 {
            font-size: 1.7em;
            font-weight: 300;
            color: #bdbdbd;
            font-style: italic;
        }

    }

    .containerEmpty {
        // background-color: blue;
        width: 100%;
        padding: 0;
        margin: 0;
        height: 85vh;
        display: flex;
        justify-content: center;
        align-items: center;
        h3 {
            text-align: center;
            width: 40%;
            font-size: 1.3em;
            font-weight: 300;
            color: #bdbdbd;
            font-style: italic;
        }
    }

    .container {
        width: 100%;
        // background-color: red;
        padding: 0 90px;

        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-content: space-evenly;
        // background-color: blue;


        @media (max-width: 1400px) {
            grid-template-columns: auto auto auto;
            justify-content: space-between;
            
        }


    }
}