.root {
    .container {
        width: 100%;
        // background-color: red;
        padding: 40px 90px;

        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-content: space-evenly;
        // background-color: blue;


        @media (max-width: 1400px) {
            grid-template-columns: auto auto auto;
            justify-content: space-between;
            
        }


    }
    .pagination_container {
        width: 100vw;
        padding: 50px 0;


        display: flex;

        justify-content: center;
        align-items: center;

    }
}